// documentation page
.article {
    word-break: break-word;

    h1, h2, h3 {
        @apply font-semibold leading-tight mt-6 mb-2;
    }

    h1 {
        @apply text-3xl mb-6;
    }

    h2 {
        @apply text-2xl mb-3;
    }

    h3 {
        @apply text-xl mb-3;
    }

    h1:first-child {
        @apply mt-0;
    }

    a {
        @apply text-purple-700 no-underline;

        &:not([class]) {
            @apply text-purple-700 border-b-2 border-purple-200;

            &:hover {
                @apply text-purple-500 border-purple-200;
            }
        }
    }

    b, strong {
        font-weight: 600;
    }

    p, ol, ul {
        @apply my-2;
    }

    ol {
        @apply list-inside list-decimal;
    }

    ul {
        @apply list-inside list-disc;
    }

    li {
        @apply mb-2;
    }

    li p {
        @apply inline-block my-0;
    }

    pre[class*="language-"] {
        @apply m-4 -mx-4 p-4;
    }

    code:not([class*="language-"]) {
        @apply rounded bg-gray-200 text-purple-900 p-1 py-px leading-relaxed;
    }
}

.article {
    table {
        display: block;
        overflow: auto;
        @apply m-4 -mx-4 border border-gray-300 rounded text-base;
    }

    table th {
      @apply p-4 align-top border-b border-gray-300 font-semibold;
    }

    table td {
      @apply p-4 align-top border-0;
    }

    table tr {
      background-color: #fff;
    }

    table tr:nth-child(2n) {
      background-color: transparent;
    }

    table.nowrap-1st td:first-child,
    table.key-value td:first-child {
        white-space: nowrap;
    }

    table.key-value td:nth-child(2) {
        width: 100%;
    }

}


.article {
    // An inline presentation
    .reveal-example {
        height: 250px;
        box-sizing: content-box;
        @apply my-4 -mx-4 p-4 rounded border-t border-gray-700;
    }

    // Input/output (code/deck) wrapper
    .reveal-example-wrapper pre[class*="language-"] {
        @apply mb-0 rounded-b-none;
    }

    .reveal-example-wrapper .reveal-example {
        @apply mt-0 rounded-t-none;
    }
}


.anchorjs-link:after {
    @apply text-gray-400;
}