// documentation page
.article {
    h1, h2, h3 {
        @apply font-semibold leading-tight mt-6 mb-2;
    }

    h1 {
        @apply text-3xl mb-4;
    }

    h2 {
        @apply text-2xl mb-3;
    }

    h3 {
        @apply text-xl mb-3;
    }

    h1:first-child {
        @apply mt-0;
    }

    // :'(
    &>a,
    &>*>a,
    &>*>*>a,
    table a {
        @apply text-purple-700 no-underline .break-words;

        &:not([class]) {
            @apply text-purple-700 border-b-2 border-purple-200;

            &:hover {
                @apply text-purple-500 border-purple-200;
            }
        }
    }

    b, strong {
        font-weight: 600;
    }

    p, ol, ul, picture {
        @apply my-2;
    }

    ol {
        @apply list-inside list-decimal;
    }

    ul {
        @apply list-inside list-disc;
    }

    li {
        @apply mb-2;
    }

    li p {
        @apply inline-block my-0;
    }

    picture {
        @apply -mx-4 rounded overflow-hidden block;
    }

    .r-version-badge {
        @apply text-xs p-px text-gray-500 float-right;
    }
    .r-version-badge.new:before {
        content: 'New in ';
    }
}

// code blocks
.article {
    pre[class*="language-"] {
        @apply mx-4 my-2 -mx-4 p-4;
    }

    code:not([class*="language-"]):not(.hljs) {
        @apply rounded bg-gray-200 text-purple-900 p-1 py-px leading-relaxed;
    }

    pre mark {
        background: transparent;
        color: currentColor;
    }
    code:not(.hljs) .highlight-line {
        opacity: 0.4;
    }
    code:not(.hljs) .highlight-line-active {
        opacity: 1;
    }
}

.article>table {
    display: block;
    overflow: auto;
    @apply m-4 -mx-4 border border-gray-300 rounded text-base;

    th {
      @apply p-4 align-top border-b border-gray-300 font-semibold;
    }

    td {
      @apply p-4 align-top border-0;
    }

    tr {
      background-color: #fff;
    }

    tr:nth-child(2n) {
      background-color: transparent;
    }

    &.nowrap-1st th:first-child,
    &.nowrap-1st td:first-child,
    &.nowrap-2nd th:nth-child(2),
    &.nowrap-2nd td:nth-child(2),
    &.key-value th:first-child,
    &.key-value td:first-child {
        white-space: nowrap;
    }

    &.key-value td:nth-child(2) {
        width: 100%;
    }

}


.article {
    // An inline presentation
    .reveal-example {
        height: 280px;
        box-sizing: content-box;
        @apply my-4 -mx-4 p-4 rounded border-t border-gray-700;

        pre {
            font-size: 28px;
        }
    }

    pre + .reveal-example {
        @apply -mt-2 rounded-t-none;
    }

    // Input/output (code/deck) wrapper
    .reveal-example-wrapper pre[class*="language-"] {
        @apply mb-0 rounded-b-none;
    }

    .reveal-example-wrapper .reveal-example {
        @apply mt-0 rounded-t-none;
    }
}


.anchorjs-link:after {
    @apply text-gray-400;
}