.reveal-demo {
	height: 65vh;
    max-height: 900px;
}

.reveal {
    font-size: 36px;
    background-color: darken(desaturate(#2d234c, 10%),10%);
}

.reveal a,
.reveal .controls button,
.reveal .progress span {
    @apply text-pink-500;
}

.reveal .progress {
    height: 6px;
}

.reveal h1, h2, h3, h4, p, ul {
	font-family: 'Inter', sans-serif !important;
}

.reveal iframe {
    margin-left: auto;
    margin-right: auto;
}

.reveal img {
    display: inline-block;
}