@import '../node_modules/reveal.js/dist/reveal';
@import 'lib/reveal-theme';
@import '../node_modules/highlight.js/scss/base16/dracula.scss';
@import 'lib/prism-dracula';

/* purgecss start ignore */

@tailwind base;
@import 'base';
@import 'decks';
@import 'header';
@import 'search';
@import 'content';
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
