$headerHeight: 4rem;
$headerMargin: 2rem;

html {
	font-family: 'Inter', sans-serif;
    font-size: 16px;
}

:target {
    scroll-margin-top: $headerHeight + $headerMargin;
}

.stick-to-header {
    position: sticky;
    top: $headerHeight + $headerMargin;
}

.reveal-demo {
	height: 70vh;
    max-height: 800px;
}

.reveal {
    font-size: 36px;
}

.reveal h1, h2, h3, h4, p, ul {
	font-family: 'Inter', sans-serif !important;
}

// sidebar
.nav-link {
    @apply text-gray-700 w-full inline-block;
}

.nav-link:active {
    @apply text-gray-900;
}

.nav-link:hover {
    @apply bg-gray-200 rounded;
}
.nav-link.selected {
    @apply bg-purple-200 text-purple-900 rounded;
}