$headerHeight: 4rem;
$headerMargin: 2rem;

$activeColor: #e9d8fd;

$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

html {
	font-family: 'Inter', sans-serif;
    font-size: 16px;
}

:target {
    scroll-margin-top: $headerHeight + $headerMargin;
}

// reveal.js styles
.reveal-demo {
	height: 70vh;
    max-height: 800px;
}

.reveal {
    font-size: 36px;
    background-color: #2d234c;
}

.reveal a,
.reveal .controls button,
.reveal .progress span {
    @apply text-purple-300;
}

.reveal .progress {
    height: 6px;
}

.reveal h1, h2, h3, h4, p, ul {
	font-family: 'Inter', sans-serif !important;
}

.reveal iframe,
.reveal a img {
    margin-left: auto;
    margin-right: auto;
}

// sidebar
.nav-link {
    @apply text-gray-700 w-full inline-block;
}

.nav-link.selected {
    @apply bg-purple-300 text-purple-900 rounded;
}

// Advertising
#carbonads {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    text-align: left;
    @apply text-sm;
}

#carbonads .carbon-img img {
    margin: 0 0 10px 0;
    border: 0;
    box-shadow: none;
}

#carbonads .carbon-poweredby {
    display: block;
    margin-top: 10px;
    color: #aaa;
}


// Anchors
.r-anchor {
    position: relative;
}

.r-anchor-label {
    position: relative;
    z-index: 2;
}

.r-anchor-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    border-radius: 4px;
    z-index: -1;
    background-color: $activeColor;

    transition: opacity 0.15s $easeOutQuint,
                visibility 0.15s $easeOutQuint,
                transform 0.3s $easeOutQuint;
}

.r-anchor.hover .r-anchor-background {
    opacity: 1;
    transform: none;
    visibility: visible;
}