$headerHeight: 4rem;
$headerMargin: 2rem;

$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

html {
	font-family: 'Inter', sans-serif;
    font-size: 16px;
}

:target {
    scroll-margin-top: $headerHeight + $headerMargin;
}

a, button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: darken( #edf2f7, 15% );
}

.no-transition,
.no-transition * {
    transition: none !important;
}

// reveal.js styles
.reveal-demo {
	height: 65vh;
    max-height: 900px;
}

.reveal {
    font-size: 36px;
    background-color: darken(desaturate(#2d234c, 10%),10%);
}

.reveal a,
.reveal .controls button,
.reveal .progress span {
    @apply text-pink-500;
}

.reveal .progress {
    height: 6px;
}

.reveal h1, h2, h3, h4, p, ul {
	font-family: 'Inter', sans-serif !important;
}

.reveal iframe {
    margin-left: auto;
    margin-right: auto;
}

.reveal img {
    display: inline-block;
}


// header
.header a,
.header button {
    -webkit-tap-highlight-color: transparent;
}

.header-logo-wrapper {
    position: relative;
}

.header-logo {
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}
.logo-visible .header-logo,
.menu-visible .header-logo {
    transform: none;
    transition: all 0.2s ease;
    opacity: 1;
    visibility: visible;
}

.header-cta {
    position: absolute !important;
    transition: all 0.2s ease;
    top: 0;
}

.logo-visible .header-cta,
.menu-visible .header-cta {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
}

@media (max-width: 640px) {
    .header-logo {
        transform: none;
        opacity: 1;
        visibility: visible;
    }
    .header-cta {
        opacity: 0;
        visibility: hidden;
    }
}

.menu-visible .header-logo,
.menu-visible .header-cta {
    transition: none;
}

.menu-visible header {
    position: fixed;
}

.menu-toggle .line1,
.menu-toggle .line2 {
    transition: all 0.3s ease;
    transform-origin: 8px 12px;
}

.menu-visible .menu-toggle .line1 {
    transform: rotate(45deg);
}
.menu-visible .menu-toggle .line2 {
    transform: rotate(-45deg);
}

.header-nav path {
    @apply fill-current;
}


// sidebar
.nav-link {
    @apply text-gray-700 w-full inline-block;
}

.nav-link:hover {
    @apply text-gray-900;
}

.nav-link.selected {
    @apply text-yellow-900 bg-yellow-400 rounded;
}


// External links
.exernal-link-icon {
    @apply inline-block ml-2 align-middle opacity-75;
}

.exernal-link-icon svg {
    height: 1rem;
}
.exernal-link-icon path {
    @apply fill-current;
}

// Advertising
#carbonads {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    text-align: left;
    @apply text-sm;
}

#carbonads .carbon-img img {
    margin: 0 0 10px 0;
    border: 0;
    box-shadow: none;
}

#carbonads .carbon-poweredby {
    display: block;
    margin-top: 10px;
    color: #aaa;
}


// Directional hover effect
.r-anchor {
    position: relative;
}

.r-anchor-label {
    position: relative;
    z-index: 2;
}

.r-anchor-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    border-radius: 0.25rem;
    z-index: -1;
    @apply bg-gray-300;

    transition: opacity 0.2s $easeOutQuint,
                visibility 0.2s $easeOutQuint,
                transform 0.3s $easeOutQuint;
}

.r-anchor.hover .r-anchor-background {
    opacity: 1;
    transform: none !important;
    visibility: visible;

    transition: opacity 0.1s $easeOutQuint,
                visibility 0.1s $easeOutQuint,
                transform 0.3s $easeOutQuint;
}

.search-result .r-anchor-background {
    @apply bg-gray-200;
}
