<div class="extras inset-0 pt-16 h-full z-90 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/5 lg:block lg:border-0">
	<div class="stick-to-header text-xs">
		<p class="block mb-2 uppercase font-semibold text-gray-500">[Carbon Ad]</p>
		<p class="block mb-2 uppercase font-semibold text-gray-500">[Slides.com]</p>
	</div>
</div>