<div class="footer-wrapper">

    <footer id="footer" class="footer">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-4 py-6">

            <p class="text-purple-900 pb-8 md:pb-0">© 2020 reveal.js</p>

        </div>

    </footer>

</div>
