<header id="header" class="header sticky top-0 w-full z-20 bg-gray-100 py-2 mb-6 border-b border-gray-300">
	<div class="w-full max-w-screen-xl mx-auto px-6 flex flex-col md:flex-row md:justify-between items-center">
		<a class="company-logo-link block text-black font-semibold text-2xl hover:text-pink-500" href="/" title="reveal.js home">reveal.js</a>

		<nav id="nav" class="nav hidden md:flex">

		    <ul class="menu flex flex-col md:flex-row items-center list-reset text-base">

		    	<li>
		    		<a class="inline-block py-3 px-5 text-gray-800 font-semibold hover:bg-gray-200" href="https://twitter.com/revealjs" target="_blank">@revealjs</a>
		    	</li>
		    	<li>
		            <a class="inline-block py-3 px-5 text-gray-800 font-semibold hover:bg-gray-200" href="https://github.com/sponsors/hakimel/" target="_blank">Sponsor</a>
		        </li>
		        <li>
		            <a class="inline-block py-3 px-5 text-gray-800 font-semibold hover:bg-gray-200" href="https://github.com/hakimel/reveal.js" target="_blank">GitHub</a>
		        </li>
		        <li>
		            <a class="inline-block py-3 px-5 text-gray-800 font-semibold hover:bg-gray-200" href="https://github.com/hakimel/reveal.js" target="_blank">Get Started</a>
		        </li>

		    </ul>

		</nav>
	</div>
</header>
