<!-- @format -->

<div class="reveal">
  <div class="slides">
    <section>
      <img
        src="https://static.slid.es/reveal/logo-v1/reveal-white-text.svg"
        alt="reveal.js"
        style="height: 180px; margin: 0 auto 4rem auto; background: transparent"
        class="demo-logo"
      />
      <h3>HTML 簡報框架</h3>
      <p>
        <small
          >由 <a href="https://twitter.com/hakimel">Hakim El Hattab</a>
          與
          <a href="https://github.com/hakimel/reveal.js/graphs/contributors"
            >貢獻者們</a
          >
          開發</small
        >
      </p>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          margin-top: 1.5rem;
          padding-top: 1.5rem;
        "
      >
        <small>由</small>
        <a href="https://slides.com" rel="dofollow">
          <img
            src="https://d1835mevib0k1p.cloudfront.net/reveal-js/sponsors/slides-mono-white.png"
            width="227"
            height="86"
          />
        </a>
        <small>贊助</small>
      </div>
    </section>

    <section>
      <h2>哈囉</h2>
      <p>
        Reveal.js 讓您能夠使用 HTML
        建立精美的互動式簡報。這個範例將向您展示其功能。
      </p>
    </section>

    <section>
      <section>
        <h2>垂直幻燈片</h2>
        <p>幻燈片可以相互嵌套。</p>
        <p>使用 <em>空白</em> 鍵來瀏覽不同頁面</p>
        <br />
        <a href="#" class="navigate-down">
          <img
            class="r-frame"
            style="background: rgba(255, 255, 255, 0.1)"
            width="178"
            height="238"
            data-src="https://static.slid.es/reveal/arrow.png"
            alt="Down arrow"
          />
        </a>
      </section>
      <section>
        <h2>地下一樓</h2>
        <p>嵌套幻燈片非常適合在大量資訊的母幻燈片下添加額外的細節。</p>
      </section>
      <section>
        <h2>地下二樓</h2>
        <p>就醬，該上去了</p>
        <br />
        <a href="#/2">
          <img
            class="r-frame"
            style="
              background: rgba(255, 255, 255, 0.1);
              transform: rotate(180deg);
            "
            width="178"
            height="238"
            data-src="https://static.slid.es/reveal/arrow.png"
            alt="Up arrow"
          />
        </a>
      </section>
    </section>

    <section>
      <h2>簡報</h2>
      <p>
        不是程式設計師？不用擔心！有一個功能完整的視覺編輯器可以用來創建這些幻燈片，試試看
        <a href="https://slides.com" target="_blank">https://slides.com</a>。
      </p>
    </section>

    <section data-auto-animate>
      <h2 data-id="code-title">漂亮的程式</h2>
      <pre
        data-id="code-animation"
      ><code class="hljs javascript" data-trim data-line-numbers>
                import React, { useState } from 'react';

                function Example() {
                  const [count, setCount] = useState(0);

                  return (
                    ...
                  );
                }
            </code></pre>
      <p>
        代碼高亮使用
        <a href="https://highlightjs.org/usage/">highlight.js</a>。
      </p>
    </section>

    <section data-auto-animate>
      <h2 data-id="code-title">更精美的動畫</h2>
      <pre
        data-id="code-animation"
      ><code class="hljs javascript" data-trim data-line-numbers="|4,8-11|17|22-24">
                import React, { useState } from 'react';

                function Example() {
                  const [count, setCount] = useState(0);

                  return (
                    &lt;div&gt;
                      &lt;p&gt;You clicked {count} times&lt;/p&gt;
                      &lt;button onClick={() =&gt; setCount(count + 1)}&gt;
                        Click me
                      &lt;/button&gt;
                    &lt;/div&gt;
                  );
                }

                function SecondExample() {
                  const [count, setCount] = useState(0);

                  return (
                    &lt;div&gt;
                      &lt;p&gt;You clicked {count} times&lt;/p&gt;
                      &lt;button onClick={() =&gt; setCount(count + 1)}&gt;
                        Click me
                      &lt;/button&gt;
                    &lt;/div&gt;
                  );
                }
            </code></pre>
    </section>

    <section>
      <h2>視窗</h2>
      <p>按 <strong>ESC</strong> 來檢視整體簡報框架。</p>
      <p>
        按住 <strong>alt</strong> 鍵（在 Linux 中是
        <strong>ctrl</strong> 鍵）並點擊任何元素，使用
        <a href="https://lab.hakim.se/zoom-js">zoom.js</a>
        進行放大。再次點擊以縮小回去。
      </p>
      <p>（注意：在 Linux 中使用 ctrl + 點擊。）</p>
    </section>

    <section
      data-auto-animate
      data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)"
    >
      <h2>自動動畫</h2>
      <p>
        使用
        <a href="https://revealjs.com/auto-animate/">自動動畫</a>
        在幻燈片之間為匹配的元素添加自動動畫。
      </p>
      <div class="r-hstack justify-center">
        <div
          data-id="box1"
          style="
            background: #999;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;
          "
        ></div>
        <div
          data-id="box2"
          style="
            background: #999;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;
          "
        ></div>
        <div
          data-id="box3"
          style="
            background: #999;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;
          "
        ></div>
      </div>
    </section>
    <section
      data-auto-animate
      data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)"
    >
      <div class="r-hstack justify-center">
        <div
          data-id="box1"
          data-auto-animate-delay="0"
          style="background: cyan; width: 150px; height: 100px; margin: 10px"
        ></div>
        <div
          data-id="box2"
          data-auto-animate-delay="0.1"
          style="background: magenta; width: 150px; height: 100px; margin: 10px"
        ></div>
        <div
          data-id="box3"
          data-auto-animate-delay="0.2"
          style="background: yellow; width: 150px; height: 100px; margin: 10px"
        ></div>
      </div>
      <h2 style="margin-top: 20px">自動動畫</h2>
    </section>
    <section
      data-auto-animate
      data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)"
    >
      <div class="r-stack">
        <div
          data-id="box1"
          style="
            background: cyan;
            width: 300px;
            height: 300px;
            border-radius: 200px;
          "
        ></div>
        <div
          data-id="box2"
          style="
            background: magenta;
            width: 200px;
            height: 200px;
            border-radius: 200px;
          "
        ></div>
        <div
          data-id="box3"
          style="
            background: yellow;
            width: 100px;
            height: 100px;
            border-radius: 200px;
          "
        ></div>
      </div>
      <h2 style="margin-top: 20px">自動動畫</h2>
    </section>

    <section>
      <h2>支援觸控</h2>
      <p>
        簡報在手機和平板電腦等觸控設備上也看起來非常棒。只需用手指滑動即可切換幻燈片。
      </p>
    </section>

    <section data-markdown>
      <script type="text/template">
        ## Markdown 支援

        使用行內或外部 Markdown 編寫內容。
        更多說明和資訊請參見[說明文件](https://revealjs.com/markdown/)。

        ```html []
        <section data-markdown>
        ## Markdown 支持

        使用行內或外部 Markdown 編寫內容。
        更多說明和資訊請參見 [說明文件](https://revealjs.com/markdown/)。
        </section>
        ```
      </script>
    </section>

    <section>
      <p>添加 class <code>r-fit-text</code> 來自動調整字體大小</p>
      <h2 class="r-fit-text">FIT TEXT</h2>
    </section>

    <section>
      <section id="fragments">
        <h2>片段</h2>
        <p>點擊下一個箭頭...</p>
        <p class="fragment">...來逐步展示...</p>
        <p>
          <span class="fragment">...一個</span>
          <span class="fragment">分段的</span>
          <span class="fragment">幻燈片。</span>
        </p>

        <aside class="notes">
          這個幻燈片包含片段，這些片段也會在筆記窗口中逐步展示。
        </aside>
      </section>
      <section>
        <h2>片段動畫</h2>
        <p>有不同類型的片段動畫，比如：</p>
        <p class="fragment grow">放大</p>
        <p class="fragment shrink">縮小</p>
        <p class="fragment fade-out">淡出</p>
        <p>
          <span style="display: inline-block" class="fragment fade-right"
            >向右淡出，</span
          >
          <span style="display: inline-block" class="fragment fade-up"
            >向上，</span
          >
          <span style="display: inline-block" class="fragment fade-down"
            >向下，</span
          >
          <span style="display: inline-block" class="fragment fade-left"
            >向左</span
          >
        </p>
        <p class="fragment fade-in-then-out">先淡入再淡出</p>
        <p class="fragment fade-in-then-semi-out">先淡入再半透明淡出</p>
        <p>
          突顯 <span class="fragment highlight-red">紅色</span>
          <span class="fragment highlight-blue">藍色</span>
          <span class="fragment highlight-green">綠色</span>
        </p>
      </section>
    </section>

    <section id="transitions">
      <h2>轉場動畫</h2>
      <p>
        你可以選擇不同的轉場動畫<br />
        <a href="?transition=none#/transitions">無</a> -
        <a href="?transition=fade#/transitions">淡入</a> -
        <a href="?transition=slide#/transitions">滑入</a> -
        <a href="?transition=convex#/transitions">凸出</a> -
        <a href="?transition=concave#/transitions">凹陷</a> -
        <a href="?transition=zoom#/transitions">放大</a>
      </p>
    </section>

    <section>
      <section data-background="#dddddd">
        <h2>背景</h2>
        <p>
          加入
          <code>data-background="#dddddd"</code>
          在投影片上變更背景顏色。支援所有 CSS 顏色格式。
        </p>
        <a href="#" class="navigate-down">
          <img
            class="r-frame"
            style="background: rgba(255, 255, 255, 0.1)"
            width="178"
            height="238"
            data-src="https://static.slid.es/reveal/arrow.png"
            alt="Down arrow"
          />
        </a>
      </section>
      <section
        data-background="https://static.slid.es/reveal/image-placeholder.png"
      >
        <h2>圖片背景</h2>
        <pre><code class="hljs html">&lt;section data-background="image.png"&gt;</code></pre>
      </section>
      <section
        data-background="https://static.slid.es/reveal/image-placeholder.png"
        data-background-repeat="repeat"
        data-background-size="100px"
      >
        <h2>平鋪背景</h2>
        <pre><code class="hljs html" style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
      </section>
      <section
        data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4"
        data-background-color="#000000"
      >
        <div
          style="
            background-color: rgba(0, 0, 0, 0.9);
            color: #fff;
            padding: 20px;
          "
        >
          <h2>影片背景</h2>
          <pre><code class="hljs html" style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
        </div>
      </section>
      <section data-background="http://i.giphy.com/90F8aUepslB84.gif">
        <h2>... 還有 GIFs!</h2>
      </section>
    </section>

    <section
      data-transition="slide"
      data-background="#4d7e65"
      data-background-transition="zoom"
    >
      <h2>背景轉場</h2>
      <p>
        透過 backgroundTransition
        參數可以實現不同的背景轉換動畫。如這就是所謂的「縮放」。
      </p>
      <pre><code class="hljs javascript">Reveal.configure({ backgroundTransition: 'zoom' })</code></pre>
    </section>

    <section
      data-transition="slide"
      data-background="#b5533c"
      data-background-transition="zoom"
    >
      <h2>背景轉場</h2>
      <p>您可以覆蓋每張投影片的背景轉換。</p>
      <pre><code class="hljs html" style="word-wrap: break-word;">&lt;section data-background-transition="zoom"&gt;</code></pre>
    </section>

    <section
      data-background-iframe="https://hakim.se"
      data-background-interactive
    >
      <div
        style="
          position: absolute;
          width: 40%;
          right: 0;
          box-shadow:
            0 1px 4px rgba(0, 0, 0, 0.5),
            0 5px 25px rgba(0, 0, 0, 0.2);
          background-color: rgba(0, 0, 0, 0.9);
          color: #fff;
          padding: 20px;
          font-size: 20px;
          text-align: left;
        "
      >
        <h2>Iframe 背景</h2>
        <p>
          由於 Reveal.js
          在網頁中運行，因此您可以輕鬆嵌入其他網路內容。嘗試與後台頁面互動。
        </p>
      </div>
    </section>

    <section>
      <h2>精彩的無序列表</h2>
      <ul>
        <li>這裡沒有順序</li>
        <li>這裡也沒有</li>
        <li>這裡也是</li>
        <li>這裡同樣沒有</li>
      </ul>
    </section>

    <section>
      <h2>神奇的有序列表</h2>
      <ol>
        <li>一小</li>
        <li>二小</li>
        <li>三最大！</li>
      </ol>
    </section>

    <section>
      <h2>表格</h2>
      <table>
        <thead>
          <tr>
            <th>項目</th>
            <th>價格</th>
            <th>數量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>蜂蜜</td>
            <td>$230</td>
            <td>1</td>
          </tr>
          <tr>
            <td>檸檬</td>
            <td>$20</td>
            <td>18</td>
          </tr>
          <tr>
            <td>感冒藥</td>
            <td>$120</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <h2>有道理的引言</h2>
      <p>
        引言有兩種呈現方式，分別是行內：
        <q
          cite="https://dict.revised.moe.edu.tw/dictView.jsp?ID=75879&la=0&powerMode=0"
          >咖啡因來自咖啡果，所以咖啡果是因，咖啡因是果</q
        >
        ，以及區塊：
      </p>
      <blockquote
        cite="https://dict.revised.moe.edu.tw/dictView.jsp?ID=156961&la=0&powerMode=0"
      >
        &ldquo;飲水機其實不是飲水機，它是出水機。你才是飲水機，各位飲水機們好。&rdquo;
      </blockquote>
    </section>

    <section>
      <h2>超連結</h2>
      <p>
        你可以在簡報中加入超連結來導覽至不同頁面，像是
        <a href="#/2/3">這個</a>。
      </p>
    </section>

    <section>
      <h2>簡報者檢視畫面</h2>
      <p>
        我們有一個
        <a href="https://revealjs.com/speaker-view/">簡報者檢視畫面</a>。
        它包括一個計時器，下一張幻燈片的預覽以及你的演講筆記。
      </p>
      <p>按下 <em>S</em> 鍵來試用。</p>

      <aside class="notes">
        嘿，這裡有一些筆記。它們將在你的簡報中被隱藏，但如果你打開演講者筆記窗口（在鍵盤上按
        's'），你可以看到它們。
      </aside>
    </section>

    <section>
      <h2>輸出 PDF</h2>
      <p>
        簡報可以被
        <a href="https://revealjs.com/pdf-export/">輸出成 PDF</a>，
        這是一個範例：
      </p>
      <iframe
        data-src="https://www.slideshare.net/slideshow/embed_code/42840540"
        width="445"
        height="355"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        style="border: 3px solid #666; margin-bottom: 5px; max-width: 100%"
        allowfullscreen
      >
      </iframe>
    </section>

    <section>
      <h2>全域狀態</h2>
      <p>
        在幻燈片上設置 <code>data-state="something"</code>，當幻燈片開啟時，
        <code>"something"</code>
        將被添加為文檔元素的 class。這讓你可以更自由的應用畫面，如切換頁面背景。
      </p>
    </section>

    <section data-state="customevent">
      <h2>狀態事件</h2>
      <p>
        此外，可以通過綁定到
        <code>data-state</code> 名稱，在每個幻燈片的基礎上觸發自定義事件。
      </p>
      <pre><code class="javascript" data-trim contenteditable style="font-size: 18px;">
Reveal.on( 'customevent', function() {
  console.log( '"customevent" has fired' );
} );
            </code></pre>
    </section>

    <section>
      <h2>欸等等</h2>
      <p>
        在鍵盤上按 B 或 . 鍵來暫停簡報。當你在台上希望聚焦觀眾的注意力時很有用。
      </p>
    </section>

    <section>
      <h2>更多功能</h2>
      <ul>
        <li>從右到左布局的支援</li>
        <li>
          <a href="https://revealjs.com/api/">廣泛的 JavaScript API</a>
        </li>
        <li>
          <a href="https://revealjs.com/auto-slide/">自動切換</a>
        </li>
        <li>
          <a href="https://revealjs.com/backgrounds/#parallax-background"
            >滾動滾動視差背景</a
          >
        </li>
        <li>
          <a href="https://revealjs.com/keyboard/">自訂快捷鍵</a>
        </li>
      </ul>
    </section>

    <section style="text-align: left">
      <h1>THE END</h1>
      <p>
        - <a href="https://slides.com">試試線上編輯器</a> <br />
        -
        <a href="https://github.com/hakimel/reveal.js">原始碼倉庫</a>
      </p>
    </section>
  </div>
</div>
