<footer class="footer flex mt-24 pt-8 px-4 w-full border-t border-gray-300 justify-end text-sm">
  <a href="{{ site.urls.personal_twitter }}" class="p-2 text-pink-700 hover:text-pink-900 mr-auto">{{ 'Created by @hakimel' | i18n }}</a>
  <a href="{{ site.urls.twitter }}" class="p-2 text-pink-700 hover:text-pink-900">X (Twitter)</a>
  <a href="{{ site.urls.github }}" class="p-2 text-pink-700 hover:text-pink-900">GitHub</a>
  <a href="https://github.com/reveal/revealjs.com/tree/master/{{ page.inputPath }}" class="p-2 text-pink-700 hover:text-pink-900">{{ 'Edit this page' | i18n }}</a>
</footer>
