{# Google Schema #}
<meta itemprop="name" content="{{ title }} | {{ site.name }}">
<meta itemprop="description" content="{% if description %}{{ description }}{% else %}{{ excerpt }}{% endif %}">

{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }} | {{ site.name }}">
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ excerpt }}{% endif %}">
<meta name="twitter:site" content="{{ site.author.handle }}">
<meta name="twitter:creator" content="{{ site.author.handle }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ site.images.twitter }}">

{# Open Graph #}
<meta property="og:title" content="{{ title }} | {{ site.name }}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ excerpt }}{% endif %}">
<meta property="og:image" name="image" content="{{ site.url }}{{ site.images.og }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
