<div class="sidebar hidden fixed inset-0 pt-16 h-screen z-20 w-full bg-gray-100 lg:sticky lg:overflow-y-visible lg:pt-0 lg:w-1/5 lg:block lg:top-16 lg:pb-16 lg:-mb-16">
  <div class="sidebar-inner overflow-hidden h-full">
    <nav class="sidebar-scroller text-base sm:text-sm inset-0 overflow-y-auto overflow-x-hidden px-6 py-8 h-full">
      <ul>
         <li class="level-1 mb-4 sidebar-language">
            <span class="block text-sm sm:text-xs mb-2 uppercase font-semibold text-gray-500">{{ 'Languages' | i18n }}</span>
            <ul>
              {% for localeI in locales -%}
                <li class="level-2 mb-px">
                <a href="/{{ localeI.code }}/{{ page.url | replace(locale, '') | replace('/', '') }}" hreflang="{{ localeI.code }}" class="nav-link -mx-1 p-1">
                  {{ localeI.label }}
                </a>
              </li>
              {% endfor -%}



            </ul>
          </li>
        
        {% for section in navigation.sections %}

          <li class="level-1 mb-4">
            <span class="block text-sm sm:text-xs mb-2 uppercase font-semibold text-gray-500">{{ section.label | i18n }}</span>
            <ul>
              {% for item in section.items %}
              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="level-2 mb-px">
                <a href="{% if locale and not item.external %}/{{ locale }}{% endif %}{{ item.url | safe }}" class="nav-link -mx-1 p-1 {{ item.class }} {% if is_current_page %}selected{% endif %}"{% if is_current_page %} aria-current="page"{% endif %}>
                  {{ item.label | i18n }}
                  {% if item.external %}<span class="exernal-link-icon">{% include "images/icons/arrow-right.svg" %}</span>{% endif %}
                  {% if item.new %}<span class="inline-block border border-gray-700 text-gray-700 leading-none p-0.5 ml-2 -mt-px rounded-sm align-middle" style="font-size: 0.65em;">NEW</span>{% endif %}
                </a>
              </li>

              {% endfor %}

            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>