---
layout: default
meta_title: Home
meta_description: Meta description
body_class: home
title: Page title
---

<section id="demo" class="reveal-demo" tabindex="-1">
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>Reveal.js</h1>
                <h3>The HTML Presentation Framework</h3>
                <p>
                    <small>Created by <a href="http://hakim.se">Hakim El Hattab</a> and <a href="https://github.com/hakimel/reveal.js/graphs/contributors">contributors</a></small>
                </p>
            </section>

            <section>
                <h2>Hello There</h2>
                <p>
                    reveal.js enables you to create beautiful interactive slide decks using HTML. This presentation will show you examples of what it can do.
                </p>
            </section>
        </div>
    </div>
</section>

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <h2 class="text-3xl">Features</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>One</li>
                <li>Two</li>
            </ul>

        </div>

    </section>

</main>


