---
layout: default
meta_title: Home
meta_description: Meta description
body_class: home
title: Page title
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <h2 class="text-3xl">Features</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>One</li>
                <li>Two</li>
            </ul>

        </div>

    </section>

</main>


