<!doctype html>
<html lang="{{ locale }}" dir="{{ dir }}" class="text-sm sm:text-base">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ title }} | {{ site.name }}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ excerpt }}{% endif %}">

    <link rel="stylesheet" href="/main.css{{ helpers.assetSuffix }}">

    {% include "meta.njk" %}

    <link rel="icon" type="image/svg+xml" href="{{ site.images.favicon }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');" rel="stylesheet" data-application-font="inter">
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" data-application-font="inter">
    </noscript>
</head>

<body data-page="{{ id }}" class="text-gray-900 leading-normal bg-gray-100">

    <section id="demo" class="reveal-demo overflow-hidden outline-none text-center" tabindex="-1">
        {% if locale %}
         {% include "demo."+locale+".html" %}
        {% else %}
        {% include "demo.html" %}
        {% endif %}
        {#
        <a class="homepage-promotion" href="/course">
            Become a pro in the reveal.js video course <span>Learn more</span>
        </a>
        #}
    </section>
    {% include "header.njk" %}

    <div class="w-full max-w-screen-xl mx-auto px-6 relative">

        <div class="lg:flex -mx-6">
            {% include "sidebar.njk" %}
            <main class="main py-24 w-full min-h-screen pt-8 lg:static lg:max-h-full lg:overflow-visible lg:w-3/5">
                <article class="article flex flex-1 flex-col focus:outline-none w-full max-w-6xl ml-auto mr-auto px-6" tabindex="-1">
                    {{ content | safe }}
                </article>
                {% include "footer.njk" %}
            </main>
            {% include "extras.njk" %}
        </div>

    </div>

    <script src="/main.js{{ helpers.assetSuffix }}" defer></script>

</body>
</html>
