<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.name }}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">

    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>

    {% include "components/social-meta.njk" %}

    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body {% if id %} data-page-id="{{ id }}"{% endif %} class="text-gray-900 leading-normal text-lg bg-gray-100">

    {% include "components/header.njk" %}

    <div id="wrapper" class="wrapper w-full max-w-screen-xl mx-auto px-6">

        <div class="lg:flex">
            {% include "components/sidebar.njk" %}
            <main class="main w-full lg:static lg:max-h-full lg:overflow-visible lg:w-3/5">
                <article class="article flex flex-1 flex-col focus:outline-none" tabindex="-1">
                    {{ content | safe }}
                </article>
            </main>
            {% include "components/extras.njk" %}
        </div>

    </div>

</body>
</html>
