<!doctype html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo | {{ site.name }}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ excerpt }}{% endif %}">

    <link rel="stylesheet" href="/main.css{{ helpers.assetSuffix }}">

    {% include "meta.njk" %}

    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="h-screen full-page-demo" data-page="demo">
    {% if locate %}
    {% include "demo."+locate+".html" %}
    {% else %}
    {% include "demo.html" %}
    {% endif %}

    <script src="/main.js{{ helpers.assetSuffix }}" defer></script>

</body>
</html>
