---
hidden: true
permalink: /api/search.json
---
{
   "pages": [
      {% for item in collections.all %}
        {% if item.data.hidden != true %}
          {
            "id": "{{item.data.id}}",
            "contents": "{{ item.template.frontMatter.content | replace('\n', '\\n') }}"
          }{% if loop.last != true %},{% endif %}
        {% endif %}
      {% endfor %}
   ]
}