---
id: 404
layout: default
permalink: 404.html
hidden: true
title: Oops!
---

<div class="content mb-6">
  <h1>{{ title }}</h1>
  <p>Sorry, we can't find that page.</p>
</div>
<iframe class="w-full" style="height: 70vh;" src="https://lab.hakim.se/fullstack"></iframe>
